@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply bg-surface;
  }

  .content-area {
    height: calc(100vh - theme('spacing.14'));
  }

  .ringed-focus {
    @apply focus:outline-none focus:ring focus:ring-primary focus:ring-opacity-80 focus:ring-offset-surface;
  }

  .focusable,
  .focusable-wrapper {
    @apply focus:outline-none focus:ring-0;
  }
  :focus > .focusable {
    @apply ring;
  }

  a {
    @apply ringed-focus focus:ring-offset-2;
  }

  .small-caps {
    font-variant: small-caps;
  }

  .tpg-title {
    @apply font-display font-medium text-secondary text-5xl sm:text-7xl whitespace-nowrap;
  }
  .tpg-controller {
    @apply font-sans font-semibold text-secondary text-base tracking-wider;
  }
  .tpg-controller-info {
    @apply font-sans font-medium text-secondary text-sm;
  }
  .tpg-controller-label {
    @apply font-sans font-semibold text-secondary text-xs text-opacity-70;
  }
  .tpg-body-1 {
    @apply font-sans font-normal text-secondary text-base;
  }
  .tpg-body-2 {
    @apply font-sans font-normal text-secondary text-sm;
  }
  .tpg-caption {
    @apply font-sans font-semibold text-secondary text-left text-xs;
  }
  .tpg-prop-label {
    @apply font-sans font-semibold text-secondary text-left text-xs;
  }
}

@layer components {
  .no-spinner {
    -moz-appearance: textfield;
    appearance: none;
  }

  .no-spinner::-webkit-inner-spin-button,
  .no-spinner::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .card-dimensions-grid {
    position: relative;
    display: grid;
    grid: 0 auto / 80px 32px 80px;
    grid-auto-flow: column;
  }

  .preview-image-object {
    width: calc(100vw - theme('spacing.28'));
  }
}

/* The popper-arrow styles are out of layer because PurgeCSS was messing with them */
.popper-arrow,
.popper-arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  background: inherit;
}

.popper-arrow {
  visibility: hidden;
}

.popper-arrow::before {
  visibility: visible;
  content: '';
  transform: rotate(45deg);
}

.popper-container[data-popper-placement^='top'] > .popper-arrow {
  bottom: -4px;
}

.popper-container[data-popper-placement^='bottom'] > .popper-arrow {
  top: -4px;
}

.popper-container[data-popper-placement^='left'] > .popper-arrow {
  right: -4px;
}

.popper-container[data-popper-placement^='right'] > .popper-arrow {
  left: -4px;
}

.popper-container[data-popper-reference-hidden^='true'] {
  visibility: hidden;
  pointer-events: none;
}

.popper-container {
  display: none;
}

.popper-container[data-show] {
  display: block;
}
